html{
  scroll-behavior: smooth;
} 
*{ 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0px 10%;
}
 /*************************************************************************************
        bouton monter vers le haut
*********************************************************************************/

#remonter-vers-le-haut {
  position: fixed;
  left: 90%;
  bottom: 2%;
  z-index: 100; 
} 
#remonter-vers-le-haut a {
  color: red;
  background-color: blue;
  padding: 10px;
  font-size: 2em;
  transition: 0.3s;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px blue;
}

#remonter-vers-le-haut a:hover{
  color: white;
  background-color: red;
  box-shadow: 0 0 30px red;
}
#remonter-vers-le-haut h6{
  color: white;
  background-color: blue;
  padding: 10px;
  transform: translatey(1000px);
}
#remonter-vers-le-haut:hover h6{
  transform: translatey(-100px);
}

/*************************************************************************************
          responsive
*********************************************************************************/

@media screen and (max-width: 900px){
  #remonter-vers-le-haut {
    left: 80%;
    bottom: 2%; 
  } 
}
     /*************************************************************************************
          navigation
*********************************************************************************/
    a{
      text-decoration: none;
    }

  /*************************************************************************************
        navigation
  *********************************************************************************/
  .main{
    z-index: 100;
    position: relative;
    background-color: rgb(31, 5, 147);
    height: 100px;
    padding: 4px;
    }
    .main-logo{
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100px;
      width: 100px;
      padding: 4px;
      margin-left: 20px;
      transition: 2s;
      }

      .main ul{
  position: absolute;
  top: 20px;
  padding:40px;
  width: 85%;
  text-align: right;
  margin-right: 40px;
  }

  .main ul li{
  margin: 10px;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline;  
  }

  nav ul a{
  color:rgb(255, 255, 255);
  font-size:20px;
  font-weight: bold;
  text-decoration: none;    
  text-transform: uppercase;
  }

  /*********************************************************************************
        animation navigation
  *****************************************************************************/
  .menu a:hover{
  background-color: red;
  padding: 8px;
  border-radius: 4px;
  color: blue;
  transition: all 0.5s;

  }

  .menu a:active{
      background-color: red;
    padding: 8px;
    border-radius: 4px;
  }
  /*****************************************************
          media queries phone 
**************************************************/
@media screen and (max-width: 900px){

  nav{
    background-color: red;
    width: 220px;
  }
  .menu{
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
    opacity: 0;
    transition: 0.3s;
    }
    .menu.active{
    opacity: 1;
    padding-bottom: 100px;
    }
  
  .main ul {
   flex-direction: column;
   position: absolute;
   top:110px;
   background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
   width: 100%;
   height: 1px;
   display: flex;
   align-items: center;
   justify-content: center;    
   transition: 0.3s;
   overflow: hidden;
  }
  .main ul.active {
    top: 105px;
    transition: 0.8s;
    height: auto;
  }
  .main ul li {
    margin: 10px;
  }
  .main ul li:hover {
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
    border-top: solid 2px red;
    border-bottom: solid 2px red;
  }
  .menu a:hover{
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    padding-left: 300px;
    padding-right: 300px;
    color: red;
    transition: all 0.3s;
  
    }
  
    .menu a:active{
      padding: 8px;
      border-radius: 4px;
    }
    .main .button{
    z-index: 100;
    width: 50px;
    height: 50px;
    position: relative;
    left: 85%;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main .button::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 white;
    transition: 0.3s;
  }
  .main .button.active::after{
    transform: rotate(45deg);
    box-shadow: 0 0 0 #000 ;
    background-color: red;
  }
  .main .button::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transform: translateY(10px);
    transition: 0.5s;
  }
  .main .button.active::before{
    transform: rotate(-45deg);
    background-color: red;
  }
  
}  

    /**************************************************
            pour le titre du site web 
    /***************** ********************************/
    .container-presentation{
        background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
        height: 100vh;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    .presentation{
        position: absolute;
        margin: 20vh 0px;
    }
    .presentation h1{
        color: #fff;
        margin:10px 0px;
    }
    .presentation h1 span{
        color: red;
    }
    .presentation p{
        color:white;
        margin: 0px 5% 60px 5%;
    }
    .presentation .bouton-contact{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        background-color: red;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px blue;
        transition: all 0.4s;
    }
    .presentation .bouton-contact:hover{
        background-color: blue;
        border: 2px solid red;
       
    }
   
    /**************************************************
            responsive
   /***************** ********************************/
         @media screen and (max-width: 500px){
          .presentation h1{
          font-size: 25px;
      }
      .container{
        margin: 15px;
      }
    }    
/**************************************************
            pour les services de index 
    /***************** ********************************/
    
    .title-services{
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: blue;
        margin: 20px 0px;
        padding: 8px;
    }
    .services-index{
        display: flex;
        gap: 20px;
    }
    .service-card{
        position: relative;
        padding: 10px;
        height: 550px;
        width: 49%;
        background-color: rgba(0, 0, 255, 0.082);
        border-radius: 4px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
        overflow: hidden;
    }
    .service-card h3{
        text-align: center;
        margin: 10px 0px;
    }
    .service-card img{
        width: 100%;
        position:relative;
        margin-top: 20px;
        transition: all 0.4s;
        overflow: hidden;
    }
    .service-card img:hover{
        transform: scale(1.1);
        color: red;
        opacity: 0.7;
    }
    
     .btn-en-savoir-plus{
        position: relative;
        bottom: -40px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: red;
        margin:0px 20%;
        padding: 15px; 
        border-radius: 4px;
        box-shadow: 0px 0px 10px black;
        transition: all 0.3s;
    }
    .btn-en-savoir-plus:hover{
      border: 1px red solid;
      background-color: blue;
      columns: white;
    }
    .fin-services-index p{
      position: relative;
        margin: 20px 0px;
    }
     /*****************************************************
          responsive  
**************************************************/
@media screen and (max-width: 900px){
  .services-index{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .service-card{
    position: relative;
    padding: 10px;
    height: 620px;
    width: 100%;
  }
  .service-card a{
    margin:0px 25%;
  }
  .contact{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: blue;
    padding: 12px; 
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    transition: all 0.3s;
}
}
/**************************************************
            pour nos realisation
    /***************** ********************************/
    .title-realiations{
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: blue;
        margin: 20px 0px;
        padding: 10px;
    }
    .images-realisation{
      display: grid;
      grid-template-columns:repeat(auto-fit ,minmax(40%,1fr));
      gap: 10px;
    }
    .realisations img{
        height: auto;
        width: 40%;
        overflow: cover;
        margin: 10px;
        transition: all 0.3s;
        border: 10px solid rgba(0, 0, 255, 0.349);
        border-radius: 4px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
    }
    .realisations img:hover{
        transform: scale(1.2);
        color: red;
        opacity: 0.7;
    }
    
    .deux-premiers{
        overflow: hidden;
        display: block;
    }
    .deux-derniers{
        overflow: hidden;
        display: block;
    }
    .fin-realisations{
        margin: 20px 0px;
    }
    .fin-realisations h4{
      position: relative;
        margin: 40px 0px;
        font-size: 20px;
    }
    .contact{
      margin-top: 40px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: blue;
        padding: 12px; 
        border-radius: 4px;
        box-shadow: 0px 0px 10px black;
        transition: all 0.3s;
    }
    .contact:hover{
        background-color: red;
        border: 1px solid blue;
        color: blue;
    }
     /*****************************************************
          responsive  
**************************************************/
@media screen and (max-width: 900px){
  .images-realisation{
    display: flex;
    flex-direction: column;
  }
  .deux-premiers{
    display: block;
  }
  .realisations img{
    height: auto;
    width: 39%;
    transition: 0.3s;
    margin: 8px;
}
}
@media screen and (max-width: 400px){
  .realisations img{
    width: 35%;
    margin: 4px;
}
}
 /*****************************************************
          section dse temoignage de clients
**************************************************/
  .testimonials{
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    color: white;
    padding-bottom: 100px;
  }
  .testimonials h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-decoration: underline;
  }
  .swiper-wrapper{
    display:flex;
    gap: 20px;
  }
  
  .swiper-slide{
    height: 350px;
    width: 25%;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    padding: 20px;
    border-radius: 5px;
    border-left: solid 4px yellow;
    border-bottom: solid 4px yellow;
    box-shadow: 0 0 10px black;
    overflow: hidden;
  }
  .testimonials img{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    height: 50%;
    width: 50%;
  }
  .testimonials h3{
    color: blue;
  }
  .testimonial h4{
    transform: translatey(200px);
    transition: 0.3s;
    background: linear-gradient(to right, rgba(5, 5, 236, 0.557), rgba(14, 5, 143, 0.689));
    height: 300px;
    padding: 20px;
  }
  .testimonial:hover h4{
    transform: translateY(-270px);
  }

    /*******************section pour le footer****************/
footer{
    
    text-align: center;
    font-size: 15px;
    background-color: blue;
    color: wheat;
    padding: 25px;
    margin-top: 20px;
}
footer a{
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
footer a:hover{
  color: red;
  text-decoration: underline;
}

/**********************************************************************************/
  /************************************formulaire**************************/
  #formulaire-footer{
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
  }
  #form-complete{
    display: flex;
    
    color: white;
    position: relative;
     height: auto;
     padding-top: 40px;
  }
 /**********************************************************************************/ 
  .first-form{
    height: 500px;
    width: auto;
    background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
    box-shadow: 0px 0px 10px black;
    color: white;
    padding: 20px;
    border-bottom:solid 10px rgb(32, 24, 24);
    overflow: hidden;
   }

  .first-form .quatre-premier input{
    width: 90%;
    height: 40px;
    margin: 10px;
    padding-left: 4px;
    border: none;
    border-radius: 5px;

    }

    textarea {
    height: 150px;
    width: 90%;
    margin: 10px;
    padding-left: 4px;
    border: none;
    border-radius: 5px;  
    resize: vertical; 
    min-height: 180px;
    }
 /**********************************************************************************/   
    .first-form .envoyer input{
      width: 90%;
      height: 40px;
      margin: 10px;
      padding-left: 4px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      background-color: red;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 10px blue;
      cursor: pointer;
      }

      .first-form .envoyer input:hover{
        background-color: #009;
        color: red;
        transition: all 1s;
        box-shadow: 0px 0px 10px red;
        padding: 8px 0px;
        border: solid 1px red;
      }
/**********************************************************************************/
/**********************************************************************************/
      .second-form{
      height: 500px;
      width: auto;
      background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
      padding: 20px;
      border-bottom:solid 10px rgb(32, 24, 24);
      overflow: hidden;
      }

      .second-form p{
        margin: 20px 0px;
      }
/**********************************************************************************/
      .second-form .whatsapp{
        margin: 20px 0px;
      }

      .second-form .whatsapp h3{
        width: 200px;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left:10px;
        color: white;
        transition: all 0.5s;
      }

      .second-form .whatsapp h3:hover{
        background-color: blue;
        color: red;
      }
/**********************************************************************************/
      .second-form .email{
        margin: 20px 0px;
      }

      .second-form .email h3{
        width: auto;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left: 10px;
        color: white;
        text-decoration: none;
        transition: all 0.5s;
      }

      h3 p{
        font-size: 10px;
      }

      .second-form .email h3:hover{
        background-color: blue;
        color: red;
      }

/**********************************************************************************/
      .second-form .telephone{
        width: 200px;
        margin: 20px 10px 0px;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left: 10px;
        transition: all 0.5s;
      }

      .second-form .telephone h3{
        color: white;
        text-decoration: none;  
      }

      .second-form .telephone:hover{
        background-color: blue;
        color: red;
      }

      .second-form .telephone h3:hover{
        color: red;
      }
      .reseaux-sociaux{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10% 30%;
      }
      .reseaux-sociaux a{
        color: red;
        font-size: 2.5em;
        text-align: center;
      }
      .whatsapp-icon{
        display: none;
      }
      .facebook a:hover{
        color:blue;
        box-shadow: 0 0 50px blue;
        border-radius: 0%;
      }
      .instagram a:hover{
        color : #C32AA3;
      }
      .threads a:hover{
        color: blue;
      }
      

  /**********************************************************************************
        RESPONSIVE
 **********************************************************************************/
      @media screen and (max-width: 900px){
        #form-complete{
          display:inline-block ;
          height: auto;  
          transition: 2s;  
        }
    
        .first-form{
          width: 80%;
          margin: 0% 5%;
          transition: 2s;
        }
    
        .second-form{
          width: 80%;
          margin: 0% 5% 5%;
          transition: 2.2s;
        }
    
        .pied-de-page{
          font-size: 10px;
          transition: 3s;
        }
      }
 /**********************************************************************************
 reserver pour la section de services
 **********************************************************************************/
 .presentation-services{
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
  color: white;
  height: 100vh;
  padding: 20px;
}
.presentation-services .intro{
  background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
  padding: 40px;
  margin:10%;
  width: 50%;
}
.presentation-services .image-intro{
  margin:10%;
  width: 40%;
  display: none;
}
/**********************************************************************************
        RESPONSIVE
 **********************************************************************************/
 @media screen and (max-width: 900px){
  .presentation-services{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }    
  .presentation-services .intro{
    width: 100%;
    height: auto;
    margin:10%;
  }
  .presentation-services .image-intro{
    display: none;
  }
 } 
 /******************************************** */
 .container-services{
    margin: 0 10%;
    overflow: hidden;
  } 
  .card-section-services{
    position: relative;
    height: 700px;
    overflow: hidden;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .section-services{
    background-color: rgba(0, 0, 255, 0.082);
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    width: 45%;
    padding: 40px;
  }
  .section-images-services{
    background-color: rgba(0, 0, 255, 0.082);
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    width: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
  }
  .card-section-services img{
    height: auto;
    width: 100%;
    overflow: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
  }
  .card-section-services h2{
    text-align: center;
    background: linear-gradient(to TOP, rgb(5, 5, 236), rgb(14, 5, 143));
    padding: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
  }
  .card-section-services p{
    margin: 20px 0;
  }
  .card-section-services li{
    margin: 10px 0;
  }
  .card-section-services span{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    transition: 0.8s;
    cursor: pointer;
  }
  .card-section-services span:hover{
    background-color: red;
    color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
  }
  
  /************************************************************************
                  media queries
  ************************************************************/
  
  @media screen and (max-width:901px){
    .container-services{
      margin: 0 5%;
     } 
    .card-section-services{
      display: flex;
      flex-direction: column; 
      height: auto;
    }
    .section-services{
      width: 100%;
    }
    .section-images-services{
      width: 100%;
    }
  }

  /************************************************************************
                espace pour le a propos
  ************************************************************/
  .container-apropos{
    position: relative;
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    height: 500px;
    color: white;
    justify-content: center;
    align-items: center;
  }
   .card-apropos{
    position: absolute;
    margin: 20px;
    height: 300px;
    margin: 10%;
  }
  .card-apropos h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
  }
  .card-apropos h4 span{
    color: red;
  }
  .card-apropos p{
    margin:0 10px;
  }
  .card-apropos h3{
    margin: 10px 20px;
  }
  .bouton-parlons-en{
    position: absolute;
    left: 45%;
    background-color: red;
    box-shadow: 0 0 20px white;
    font-size: 20px;
   font-weight: bold ;
    padding: 20px;
    border-radius: 8px;
    color: white;
    transition: 0.9s;
    
  }
  .bouton-parlons-en:hover{
    background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
    border: solid 1px red;
    width: 80%;
    box-shadow: 0 0 20px blue;
    color: red;
  }
  @media screen and (max-width:901px){
    .bouton-parlons-en{
      left: 0%;
    }
  }
