html{
  scroll-behavior: smooth;
} 
*{ 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: 0px 10%;
}

/* From Uiverse.io by Juanes200122 */ 
#svg-global {
  zoom: 1.2;
  overflow: visible;
}

@keyframes fade-particles {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

#particles {
  animation: fade-particles 5s infinite alternate;
}
.particle {
  animation: floatUp linear infinite;
}

.p1 {
  animation-duration: 2.2s;
  animation-delay: 0s;
}
.p2 {
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.p3 {
  animation-duration: 2s;
  animation-delay: 0.6s;
}
.p4 {
  animation-duration: 2.8s;
  animation-delay: 0.2s;
}
.p5 {
  animation-duration: 2.3s;
  animation-delay: 0.4s;
}
.p6 {
  animation-duration: 3s;
  animation-delay: 0.1s;
}
.p7 {
  animation-duration: 2.1s;
  animation-delay: 0.5s;
}
.p8 {
  animation-duration: 2.6s;
  animation-delay: 0.2s;
}
.p9 {
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}

@keyframes bounce-lines {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
.fondu-out{
  opacity: 0;
  transition:0.8s ease-out;
}
#svg-global{
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:10% 45%;
  z-index: 100;
}

#line-v1,
#line-v2,
#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation: bounce-lines 3s ease-in-out infinite alternate;
}
#line-v2 {
  animation-delay: 0.2s;
}

#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation-delay: 0.4s;
}

 /*************************************************************************************
        bouton monter vers le haut
*********************************************************************************/
#remonter-vers-le-haut {
  z-index: 100; 
  position: fixed;
  left: 90%;
  bottom: 2%;
 
} 
#remonter-vers-le-haut a {
  color: red;
  background-color: blue;
  padding: 10px;
  font-size: 2em;
  transition: 0.3s;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px blue;
}

#remonter-vers-le-haut a:hover{
  color: white;
  background-color: red;
  box-shadow: 0 0 30px red;
}
#remonter-vers-le-haut h6{
  color: white;
  background-color: blue;
  padding: 10px;
  transform: translatey(1000px);
}
#remonter-vers-le-haut:hover h6{
  transform: translatey(-100px);
}


/*************************************************************************************
          responsive
*********************************************************************************/

@media screen and (max-width: 900px){
  #remonter-vers-le-haut {
    left: 80%;
    bottom: 2%; 
  } 
}
@media screen and (max-width: 400px){
  #remonter-vers-le-haut {
    left: 70%;
    bottom: 2%; 
  } 
}
     /*************************************************************************************
          navigation
*********************************************************************************/
    a{
      text-decoration: none;
    }

  /*************************************************************************************
        navigation
  *********************************************************************************/
    .banner{
      position: relative;
      display: flex;
      background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
      gap: 60px;
      font-size: 10px;
      color: #fff;
      margin:10 0 10px 0;
      padding: 10px;
    }
    .banner a{
      text-decoration: none;
      color: #fff;
    }
    .banner a i{
      margin:0 5px;
    }
    .banner .email{
      margin-left: 5%;
      width: 600px;
    }
    .banner .telephone{
      margin-left: 10%;
      width: 600px;
    }
    .banner .designer{
      margin-left: 30%;
    }
    .banner .designer a{
      color: red;
    }
    /*****************************************************
          media queries phone 
**************************************************/
@media screen and (max-width: 900px){
  .banner{
    top: -50px;
  }
}
  .main{
    z-index: 100;
    position: relative;
    background-color: rgb(31, 5, 147);
    height: 100px;
    padding: 4px;
    }
    .main-logo{
      z-index: 2;
      position: absolute;
      top: 20px;
      height: 60px;
      width: 60px;
      margin: 20px;
      margin-bottom: 30px;
      transition: 2s;
      }

      .main ul{
  position: absolute;
  top: 20px;
  padding:40px;
  width: 85%;
  text-align: right;
  margin-right: 40px;
  }

  .main ul li{
  margin: 10px;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline;  
  }

  nav ul a{
  color:rgb(255, 255, 255);
  font-size:20px;
  font-weight: bold;
  text-decoration: none;    
  text-transform: uppercase;
  }

  /*********************************************************************************
        animation navigation
  *****************************************************************************/
  .menu a:hover{
  background-color: red;
  padding: 8px;
  border-radius: 4px;
  color: blue;
  transition: all 0.5s;

  }

  .menu a:active{
      background-color: red;
    padding: 8px;
    border-radius: 4px;
  }
  /*****************************************************
          media queries phone 
**************************************************/
@media screen and (max-width: 900px){

  nav{
    background-color: red;
    width: 220px;
  }
  .menu{
    background: linear-gradient(to bottom, rgba(5, 5, 236, 0.402), rgba(14, 5, 143, 0.689));
    opacity: 0;
    transition: 0.3s;
    }
    .menu.active{
    opacity: 1;
    padding-bottom: 100px;
    }
  
  .main ul {
  z-index: 100;
   position: absolute;
   top:110px;
   background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;    
   transition: 0.3s;
   overflow: hidden;
  }
  .main ul.active {
    top: 105px;
    transition: 0.8s;
    height: auto;
  }
  .main ul li {
    margin: 10px;
    text-align: center;
  }
  .main ul li:hover {
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
    border-top: solid 2px red;
    border-bottom: solid 2px red;
  }
  .menu a:hover{
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    padding-left: 30px;
    padding-right: 30px;
    color: red;
    transition: all 0.3s;
    }
  
    .menu a:active{
      padding: 8px;
      border-radius: 4px;
    }
    .main .button{
    z-index: 100;
    width: 50px;
    height: 50px;
    position: relative;
    left: 85%;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main .button::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 white;
    transition: 0.3s;
  }
  .main .button.active::after{
    transform: rotate(45deg);
    box-shadow: 0 0 0 #000 ;
    background-color: red;
  }
  .main .button::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transform: translateY(10px);
    transition: 0.5s;
  }
  .main .button.active::before{
    transform: rotate(-45deg);
    background-color: red;
  }
}  

    /**************************************************
            pour le titre du site web 
    /***************** ********************************/
    video{
      position: relative;
      height: auto;
      width: 100%;
      background-size: cover;
      }
      .container-presentation{
        position: relative;
        justify-content: center;
        text-align: center;
        height: 100vh;
        overflow: hidden;
    }
    .presentation{
      background: linear-gradient(to right, rgba(5, 5, 236, 0.402), rgba(14, 5, 143, 0.689));
      height: 250PX;
      padding:200px ;
        position: absolute;
        top: -10%;
    }
    
    .presentation h1{
        color: #fff;
        margin:10px 0px;
    }
    .presentation h1 span{
        color: red;
    }
    .presentation p{
        color:white;
        margin: 0px 5% 60px 5%;
    }
    .presentation .bouton-contact{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        background-color: red;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px blue;
        transition: all 0.4s;
    }
    .presentation .bouton-contact:hover{
      background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
      border: solid 1px red;
      width: 80%;
      box-shadow: 0 0 20px blue;
      color: red;
       
    }
   
    /**************************************************
            responsive
   /***************** ********************************/
         @media screen and (max-width: 900px){
          .presentation h1{
          font-size: 25px;
      }
      .container{
        margin: 15px;
      }
      .container-presentation video{
        width: 250%;
    
        }
        .container-presentation{
          position: relative;
          justify-content: center;
          text-align: center;
          height: 100vh;
          overflow: hidden;
          
      }
      .presentation{
        background: linear-gradient(to right, rgba(5, 5, 236, 0.402), rgba(14, 5, 143, 0.689));
        padding:175px 20px;
          position: absolute;
          top: 0%;
      }
      
      .presentation h1{
          color: #fff;
          margin:10px 0px;
      }
    }    
/**************************************************
            pour les services de index 
    /***************** ********************************/
    .nos-services-index{
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .title-services{
        background: linear-gradient(to left, rgba(14, 5, 143, 0.95) ,red);
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 2px 4px 6px red;
        text-align: center;
        color: white;
        font-weight: bold; 
        }
    .services-index{
        display: flex;
        gap: 20px;
        margin: 40px 20px;
    }
    .service-card{
        position: relative;
        padding: 10px 10px 50px 10px;
        width: 49%;
        background-color: rgba(0, 0, 255, 0.082);
        border-radius: 4px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
        overflow: hidden;
    }
    .service-card h3{
        text-align: center;
        margin: 10px 0px;
    }
    .service-card img{
        width: 100%;
        transition: all 0.4s;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .service-card .image-service-index{
      overflow: hidden;
  }
    .service-card img:hover{
        transform: scale(1.1);
        opacity: 0.7;
    }
    
     .btn-en-savoir-plus{
        position: relative;
        top: 30px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: red;
        margin:20%;
        padding: 16px ; 
        border-radius: 4px;
        box-shadow: 0px 0px 10px black;
        transition: all 0.3s;
    }
    .btn-en-savoir-plus:hover{
      background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
      border: solid 1px red;
      box-shadow: 0 0 20px blue;
      color: red;
    }
    .fin-services-index p{
        margin: 20px 0px;
    }
     /*****************************************************
          responsive  
**************************************************/
@media screen and (max-width: 900px){
  .services-index{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5%;
  }
  .service-card{
    position: relative;
    height: auto;
    width: 100%;
  }
  .fin-services-index p ,h4{
      margin: 10px;
  }
  .contact{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: blue;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    transition: all 0.3s;
}
}
/**************************************************
            responsive
   /***************** ********************************/
   @media screen and (max-width: 350px){
    .btn-en-savoir-plus{
        padding:10px;
        font-size: 15px; 
        margin:0 25%;
    }
    .btn-en-savoir-plus a{
      text-align: center;
    }
    .service-card{
      height: auto;
    }
   }
/**************************************************
            pour nos realisation
    /***************** ********************************/
    .title-realisations{
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 25px;
        background: linear-gradient(to left, red, rgba(14, 5, 143, 0.95));
        margin: 20px 0px;
        padding: 20px;
        box-shadow: 2px 4px 6px red;
        border-radius: 4px; 
        }
    .images-realisation{
      display: grid;
      grid-template-columns:repeat(auto-fit ,minmax(40%,1fr));
      gap: 10px;
    }
    .realisations .image{
      margin: 6px;
      overflow: hidden;
      transition: 0.3s;
  }
  .realisations .image:hover{
    padding-bottom: 10px;
}
    .realisations img{
        height: auto;
        width:90%;
        overflow: cover;
        border: 8px solid rgba(0, 0, 255, 0.349);
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
        cursor: pointer;
        transition: 0.3s;
    }
    .realisations img:hover{
        transform: scale(1.05);
        opacity: 0.7;
    }
    
    .deux-premiers{
      display:flex ;
    }
    .deux-derniers{
      display:flex ;
    }
    .fin-realisations h4{
      position: relative;
        margin: 40px 0px;
        font-size: 20px;
    }
    .contact{
      margin-top: 40px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-color: blue;
        padding: 12px; 
        border-radius: 4px;
        box-shadow: 0px 0px 10px black;
        transition: all 0.3s;
    }
    .contact:hover{
        background-color: red;
        border: 1px solid blue;
        color: blue;
    }
     /*****************************************************
          responsive  
**************************************************/
@media screen and (max-width: 900px){
  .images-realisation{
    display: flex;
    flex-direction: column;
  }
  .realisations .image{
    margin: 0px;
    height: auto;
    width: 100%;
}
  .realisations .image:hover{
    padding-bottom: 0px;
    transition: 0.1s;
} 
  .realisations img{
    height: auto;
    width: 90%;
    transition: 0.3s;
    margin: 8px;
}
.fin-realisations h4{
  position: relative;
    font-size: 16px;
}
.fin-realisations{
    margin: 10px;
}
}
 
 /*****************************************************
          section dse temoignage de clients
**************************************************/
  .testimonials{
    color: white;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .testimonials h2{
    font-size: 30px;
    background: linear-gradient(to left, red, rgba(14, 5, 143, 0.95));
    box-shadow: 2px 4px 6px red;
    border-radius: 4px;
    padding: 20px;
   transition:all 0.4ss;
  }
  .testimonials h2:hover{
    background: linear-gradient(to right, red, rgba(14, 5, 143, 0.95));
  }
  .carousel{
    margin:0px 10%;
  }

  .card-testimonials{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
  }
  
  .card-testimonials .testimonial{
    height: 400px;
    width: 30%;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 20px;
    border-radius: 5px;
    border-bottom: solid 4px red;
    transition: 0.4s;
    background-color:beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
    overflow: hidden;
    transition: 0.8s;
  }
  .card-testimonials .testimonial:hover{
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.61);
    margin-top: -10px;
    margin-right: -3px;
  }
  .card-testimonials .testimonial img{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    height: 100px;
    width: 100px;
  }
  .card-testimonials .testimonial h3{
    color: blue;
    margin: 20px;
  }
  .card-testimonials .testimonial h4{
    transform: translatey(200px);
    transition: 0.3s;
    background: linear-gradient(to right, rgba(5, 5, 236, 0.557), rgba(14, 5, 143, 0.689));
    height: 300px;
    padding: 20px;
  }
  .card-testimonials .testimonial:hover h4{
    transform: translateY(-100px);
    color:red;
  }


.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(-50%);
    color: rgb(237, 18, 18);
    border: none;
    font-size: 80PX;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: red; /* Couleur de l'indicateur actif */
}

@media screen and (max-width: 700px){
  .card-testimonials .testimonial{
    height: 400px;
    width: 100%;
    box-shadow: 0 2px 10px black;
}
.testimonials h2{
  font-size: 20px;
}
.carousel-control-prev {
  left: -12px;
}

.carousel-control-next {
  right: -12px;
}
}
@media screen and (max-width: 500px){
  .card-testimonials .testimonial{
    height: 400px;
    width: 100%;
}
.testimonials h2{
  font-size: 15px;
}
}
/*****************************************************
          section des avantage 1 
**************************************************/
.avantages{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.large-card-importance1{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.avantages i{
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.532);
  border-radius: 50%;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.438);
  border-bottom: solid 2px white;
  transition: 0.3s;
  overflow: hidden;
}
.avantages i:hover{
  background-color: rgba(0, 0, 255, 0.532);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.61);
  border-bottom: solid 2px white;
  transform: scale(1.1);
  transform: rotate(360deg);
}
.avantages h2{
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(to left, red, rgba(14, 5, 143, 0.95));
  box-shadow: 2px 4px 6px red;
  border-radius: 4px;
  color:white;
}
.avantages h3{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.avantages .card-importance{
  background-color:beige;
  min-height:400px;
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  transition: 0.2s;
  overflow: hidden;
}
.card-importance h3{
  margin: 20px;
}
.avantages .card-importance:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
  transform: scale(1.03);
}
/*****************************************************
          section DE AVANTAGE 2
**************************************************/
.large-card-importance2{
  display: flex;
  gap: 20px;
  margin-top: 40PX;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.avantages h2{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
.avantages .card-importance{
 
  background-color:beige;
  height:350px;
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  transition: 0.3s;
}
/*****************************************************
         Responsive
**************************************************/
@media screen and (max-width: 900px){
  .avantages{
    margin: 10%;
  }
  .large-card-importance1{
    display:flex;
    flex-direction: column;
  }
  .large-card-importance2{
    display:flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .avantages .card-importance{
    background-color:beige;
    width: 100%;
  }
  .avantages h2{
    padding: 10px;
    font-size: 22px;
  }
}
/**********************************************************************************/
  /************************************formulaire**************************/
  #formulaire-footer{
    position: relative;
    overflow: hidden;
    height: 670px;
  }
  #form-complete{
    display: flex;
    position: absolute;
    top: 0%;
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgba(14, 5, 143, 0.34));
    color: white;
    padding-top: 40px;
    height: 700px;
     width: 100%;
 
  }
 /**********************************************************************************/ 
  .first-form{
    height: 500px;
      width: 45%;
      background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
      margin-left: 10%;
      padding: 10px;
      border-bottom:solid 10px rgb(32, 24, 24);
      overflow: hidden;
   }

  .first-form .quatre-premier input{
    width: 90%;
    height: 40px;
    margin: 10px;
    padding-left: 4px;
    border: none;
    border-radius: 5px;

    }
    textarea {
    min-height: 150px;
    width: 90%;
    margin: 10px;
    padding-left: 4px;
    border: none;
    border-radius: 5px;  
    resize: vertical; 
    min-height: 160px;
    max-height: 170px;
    overflow: scroll;
    }
 /**********************************************************************************/   
    .first-form .envoyer input{
      width: 90%;
      height: 40px;
      margin: 10px;
      padding-left: 4px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      background-color: red;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 10px blue;
      cursor: pointer;
      }

      .first-form .envoyer input:hover{
        background-color: #009;
        color: red;
        transition: all 1s;
        box-shadow: 0px 0px 10px red;
        padding: 8px 0px;
        border: solid 1px red;
      }
/**********************************************************************************/
/**********************************************************************************/
      .second-form{
      height: 500px;
      width: 45%;
      background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
      padding: 10px;
      margin-right: 10%;
      border-bottom:solid 10px rgb(32, 24, 24);
      overflow: hidden;
      }

      .second-form p{
        margin: 20px 0px;
      }
/**********************************************************************************/
      .second-form .whatsapp{
        margin: 20px 0px;
      }

      .second-form .whatsapp h3{
        width: 200px;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left:10px;
        color: white;
        transition: all 0.5s;
      }

      .second-form .whatsapp h3:hover{
        background-color: blue;
        color: red;
      }
/**********************************************************************************/
      .second-form .email{
        margin: 20px 0px;
      }

      .second-form .email h3{
        width: auto;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left: 10px;
        color: white;
        text-decoration: none;
        transition: all 0.5s;
      }

      h3 p{
        font-size: 10px;
      }

      .second-form .email h3:hover{
        background-color: blue;
        color: red;
      }

/**********************************************************************************/
      .second-form .telephone{
        width: 200px;
        margin: 20px 10px 0px;
        border-left: solid 2px red;
        border-bottom: solid 2px red;
        border-radius: 10px;
        padding: 8px;
        margin-left: 10px;
        transition: all 0.5s;
      }

      .second-form .telephone h3{
        color: white;
        text-decoration: none;  
      }

      .second-form .telephone:hover{
        background-color: blue;
        color: red;
      }

      .second-form .telephone h3:hover{
        color: red;
      }
      .reseaux-sociaux{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10% 30%;
      }
      .reseaux-sociaux a{
        color: red;
        font-size: 2.5em;
        text-align: center;
      }
      .whatsapp-icon{
        display: none;
      }
      .facebook a:hover{
        color:blue;
        box-shadow: 0 0 50px blue;
        border-radius: 0%;
      }
      .instagram a:hover{
        color : #C32AA3;
      }
      .threads a:hover{
        color: blue;
      }
      

  /**********************************************************************************
        RESPONSIVE
 **********************************************************************************/
      @media screen and (max-width: 900px){
        #formulaire-footer{
          position: relative;
          overflow: hidden;
          height: 1210px;
        }
        #form-complete{
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0%;
          height: auto;
           width: 100%;
       
        }
        #formulaire-footer video{
          position: relative;
          width: 500%;
          }
    
        .first-form{
          width: 80%;
          margin:0px 10%;
        }
    
        .second-form{
          width: 80%;
          margin:0px 10%;
        }
        footer p {
          font-size: 16px;
        }
        footer p a{
          font-size: 16px;
        }
        .pied-de-page{
          font-size: 15px;
          transition: 0.3s;
        }
      }

      @media screen and (max-width: 400px){
        #form-complete{
          display:inline-block ;
          height: auto;   
        }
    
        .first-form{
          width: 100%;
          margin: 0% 5%;
          transition: 2s;
        }
    
        .second-form{
          width: 100%;

        }
    
        .pied-de-page{
          font-size: 10px;
          transition: 3s;
        }
      }
       /*******************section pour le footer****************/
footer{
   position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  background-color: rgba(0, 0, 255, 0.546);
  color: wheat;
  padding: 25px;
  margin-top: 20px;
}
footer a{
color: orange;
font-size: 20px;
font-weight: bold;
}
footer a:hover{
color: red;
text-decoration: underline;
}
@media screen and (min-width: 400px){
footer a{
  font-size: 10px;
}
}
 /**********************************************************************************
 reserver pour la section de services
 **********************************************************************************/
 .presentation-services{
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-services-intro{
  display:flex;
  width: 100%;
  position:absolute;
  top: 0px;
  background-color: rgba(0, 21, 255, 0.468);
  height: 700px;
 
}
.presentation-services .intro{
  margin:15%;
  width: 100%;
}
.presentation-services .image-intro{
  margin:0 10px;
  width: 40%;
  display: none;
}
.presentation-services .button-besoin {
  position: absolute;
  top: 50%;
  left: 40%;
}
.presentation-services .bouton-parlons-en{
  position: absolute;
  left: 25px;
  background-color: red;
  box-shadow: 0 0 20px white;
  font-size: 20px;
 font-weight: bold ;
  padding: 20px;
  border-radius: 8px;
  color: white;
  transition: 0.9s;
  
}
.presentation-services .bouton-parlons-en:hover{
  background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
  border: solid 1px red;
  width: 80%;
  box-shadow: 0 0 20px blue;
  color: red;
}

/**********************************************************************************
        RESPONSIVE
 **********************************************************************************/
 @media screen and (max-width: 900px){
  .presentation-services{
    display: flex;
    flex-direction: column;
  }    
  .presentation-services .intro{
    width: 100%;
    height: auto;
  }
  .presentation-services .intro p{
    margin:10px  20px;
  }
  .container-presentation video{
    position: relative;
    height: auto;
    width: 300%;
    background-size: cover;
    }
    .presentation-services .button-besoin {
      position: absolute;
      top: 70%;
     left: 40%;
    }
  
 } 
 @media screen and (max-width: 500px){
  .presentation-services{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }    
  .presentation-services .intro{
    width: 100%;
    height: auto;
    margin:0;
  }
  .presentation-services .button-besoin{
    position: absolute;
    top: 50%;
    left:25%;
  }
 } 
 /******************************************** */
  
  .container-services{
      margin: 0 10%;
      overflow: hidden;
    } 
  .card-section-services{
    height: 700px;
    overflow: hidden;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .section-services{
    background-color: rgba(0, 0, 255, 0.082);
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    width: 45%;
    padding: 40px;
  }
  .section-images-services{
    background-color: rgba(0, 0, 255, 0.082);
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    width: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
  }
  .card-section-services img{
    height: auto;
    width: 100%;
    overflow: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
  }
  .card-section-services h2{
    text-align: center;
    background: linear-gradient(to TOP, rgb(5, 5, 236), rgb(14, 5, 143));
    padding: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
  }
  .card-section-services p{
    margin: 20px 0;
  }
  .card-section-services li{
    margin: 10px 0;
  }
  .card-section-services span{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    transition: 0.8s;
    cursor: pointer;
  }
  .card-section-services span:hover{
    background-color: red;
    color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.368);
    background: linear-gradient(to bottom, rgb(5, 5, 236), rgb(14, 5, 143));
  }
  
  
  /************************************************************************
                  media queries
  ************************************************************/
  
  @media screen and (max-width:901px){
    .container-services{
      margin: 0 5%;
     } 
    .card-section-services{
      display: flex;
      flex-direction: column; 
      height: auto;
    }
    .section-services{
      width: 100%;
    }
    .section-images-services{
      width: 100%;
    }
  }

  /************************************************************************
                espace pour le a propos
  ************************************************************/
  .container-apropos{
    position: relative;
    background: linear-gradient(to right, rgb(5, 5, 236), rgb(14, 5, 143));
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
   .card-apropos{
    position: absolute;
    top: -10%;
    background: linear-gradient(to right, rgb(5, 5, 236), rgba(14, 5, 143, 0.272));
    height: 100vh;
    padding: 100px 0px;
  }
  .card-apropos h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .card-apropos h4 span{
    color: red;
  }
  .card-apropos p{
    margin:0 10px;
    text-align: ;
  }
  .card-apropos h3{
    position: absolute;
    top: -100%;
  }
  .container-apropos .button-besoin{
    margin:0% 25%;
    position: absolute;  
  }
  .container-apropos .bouton-parlons-en{
    background-color: red;
    box-shadow: 0 0 20px white;
    font-size: 20px;
   font-weight: bold ;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-left: 20%;
    transition: 0.9s;   
  }
  .container-apropos .bouton-parlons-en:hover{
    background: linear-gradient(to left, rgb(5, 5, 236), rgb(14, 5, 143));
    border: solid 1px red;
    width: 80%;
    box-shadow: 0 0 20px blue;
    color: red;
  }
  @media screen and (max-width:901px){
    .container-apropos .button-besoin{
      position: absolute;
      bottom: 40%;
      left: 0%;
      height: auto;
      width: 100%;
    }
    .container-apropos .bouton-parlons-en{
      font-size: 20px;
     font-weight: bold ;
      padding: 20px;
      margin-left: 5%;
      
    }
    .container-apropos video{
      position: relative;
      height: auto;
      width: 250%;
      background-size: cover;
      }
  }
  @media screen and (max-width:400px){
    .container-apropos .button-besoin{
      position: absolute;
      bottom: 30%;
      left: 5%;
      
    }
  }
